# 🛠️ Keil MDK 生成的中间文件（不需要提交）
*.axf
*.bak
*.hex
*.lst
*.lnp
*.map
*.o
*.crf
*.d
*.dep
*.iex
*.sct
*.tra

# 🧠 用户个性化配置（不建议共享）
*.uvoptx
*.uvgui.*

# 🧹 编译临时文件
*.log
*.tmp
*.user

# 📦 输出文件夹（你如果用 build 或 Debug）
build/
DebugConfig/

# 📁 VSCode 文件夹（如果你用）
.vscode/
.ssh/known_hosts
/._.git
/.idea/._.gitignore
/._.gitignore
/._.idea
/USER/._AllHeader.h
/._BSP
/BSP/._bsp.c
/BSP/._bsp.h
/BSP/motor_model/._bsp_motor_iic.c
/BSP/motor_model/._bsp_motor_iic.h
/BSP/Timer/._bsp_timer.c
/BSP/Timer/._bsp_timer.h
/._CMSIS
/CMSIS/._core_cm3.c
/CMSIS/._core_cm3.h
/BSP/._Delay
/BSP/Delay/._delay.c
/BSP/Delay/._delay.h
/._FWLib
/USER/._I2C.uvprojx
/FWLib/._inc
/BSP/motor_model/._IOI2C.c
/BSP/motor_model/._IOI2C.h
/USER/._main.c
/FWLib/src/._misc.c
/FWLib/inc/._misc.h
/USER/._motor_control.h
/BSP/._motor_model
/USER/._myenum.h
/FWLib/._src
/CMSIS/._startup_stm32f10x_hd.s
/CMSIS/._stm32f10x.h
/FWLib/src/._stm32f10x_adc.c
/FWLib/inc/._stm32f10x_adc.h
/FWLib/src/._stm32f10x_bkp.c
/FWLib/inc/._stm32f10x_bkp.h
/FWLib/src/._stm32f10x_can.c
/FWLib/inc/._stm32f10x_can.h
/FWLib/src/._stm32f10x_cec.c
/FWLib/inc/._stm32f10x_cec.h
/USER/._stm32f10x_conf.h
/FWLib/src/._stm32f10x_crc.c
/FWLib/inc/._stm32f10x_crc.h
/FWLib/src/._stm32f10x_dac.c
/FWLib/inc/._stm32f10x_dac.h
/FWLib/src/._stm32f10x_dbgmcu.c
/FWLib/inc/._stm32f10x_dbgmcu.h
/FWLib/src/._stm32f10x_dma.c
/FWLib/inc/._stm32f10x_dma.h
/FWLib/src/._stm32f10x_exti.c
/FWLib/inc/._stm32f10x_exti.h
/FWLib/src/._stm32f10x_flash.c
/FWLib/inc/._stm32f10x_flash.h
/FWLib/src/._stm32f10x_fsmc.c
/FWLib/inc/._stm32f10x_fsmc.h
/FWLib/src/._stm32f10x_gpio.c
/FWLib/inc/._stm32f10x_gpio.h
/FWLib/src/._stm32f10x_i2c.c
/FWLib/inc/._stm32f10x_i2c.h
/USER/._stm32f10x_it.c
/USER/._stm32f10x_it.h
/FWLib/src/._stm32f10x_iwdg.c
/FWLib/inc/._stm32f10x_iwdg.h
/FWLib/src/._stm32f10x_pwr.c
/FWLib/inc/._stm32f10x_pwr.h
/FWLib/src/._stm32f10x_rcc.c
/FWLib/inc/._stm32f10x_rcc.h
/FWLib/src/._stm32f10x_rtc.c
/FWLib/inc/._stm32f10x_rtc.h
/FWLib/src/._stm32f10x_sdio.c
/FWLib/inc/._stm32f10x_sdio.h
/FWLib/src/._stm32f10x_spi.c
/FWLib/inc/._stm32f10x_spi.h
/FWLib/src/._stm32f10x_tim.c
/FWLib/inc/._stm32f10x_tim.h
/FWLib/src/._stm32f10x_usart.c
/FWLib/inc/._stm32f10x_usart.h
/FWLib/src/._stm32f10x_wwdg.c
/FWLib/inc/._stm32f10x_wwdg.h
/CMSIS/._system_stm32f10x.c
/CMSIS/._system_stm32f10x.h
/BSP/._Timer
/BSP/Usart1/._usart.c
/BSP/Usart1/._usart.h
/BSP/._Usart1
/._USER
/.idea/._vcs.xml
/.idea/._workspace.xml
/.idea/.gitignore
/OBJ/I2C.build_log.htm
/OBJ/I2C.htm
/.idea/vcs.xml
